{extend name="$admin_layout" /}
{block name="style"}
<style>
	.table>tbody>tr>td {
		padding: 15px;
		font-size: 14px;
	}
	.select-link {
		display: inline-block;
		width: 70px;
		height: 34px;
		line-height: 34px;
		text-align: center;
		border-radius: 0 16px 16px 0;
		border: 1px solid #b6dafc;
		color:#067fe0;
		background-color: #ecf5ff;
		cursor: pointer;
	}
</style>
{/block}
{block name="content"}
  <!-- layui css -->
  <link rel="stylesheet" href="/static/admin/js/layui/css/layui.css">
<div class="row">
	<div class="col-md-12">
		<div class="box nav-tabs-custom">
			<div class="box-header with-border">
				<h3 class="box-title">{$page_title|default=""|htmlspecialchars} <small style="color:red"> {$page_tip|default=""|htmlspecialchars}</small></h3>
				<div class="close close_crm_set_bar icon-del" onClick="closelayer()"></div>
			</div>

			<div class="box-body tab-content">
				<div class="tab-pane active">
					<div class="block-content" style="max-width: 600px;">

						<!-- 表单验证请保留id="form"，否则验证不起作用 -->
						<form class="form row" name="form" id="form" parent_reload="{$url_param.reload|default = '1'}" action="{:url('',$url_param)}" method="post" data-validator-option="{timely:1, theme:'bootstrap'}">


							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="form_group_name">
								<div class="col-xs-12 label-title" for="name">{:lang('广告名称')}</div>
								<div class="col-sm-12">
									<input class="form-control" type="text" id="name" name="name" placeholder="{:lang('请输入广告名称')}">
								</div>
							</div>

							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="form_group_typeid">
								<div class="col-xs-12 label-title" for="typeid">{:lang('所属广告位')}</div>
								<div class="col-sm-12">
									<select class="select2 form-control select2-hidden-accessible" id="typeid" name="typeid"
										data-select2-id="typeid" tabindex="-1" aria-hidden="true">
										{volist name="list_type" id="cate"}
										<option value="{$cate.id}">{$cate.name}</option>
										{/volist}
									</select>
								</div>
							</div>


							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="form_group_name">
								<div class="col-xs-12 label-title" for="name">{:lang('宽度')}</div>
								<div class="col-sm-12">
									<input class="form-control" type="text" readonly="readonly" id="name" name="width" placeholder="{:lang('请输入宽度')}">
								</div>
							</div>

							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="form_group_name">
								<div class="col-xs-12 label-title" for="name">{:lang('高度')}</div>
								<div class="col-sm-12">
									<input class="form-control" type="text" readonly="readonly" id="name" name="height"  placeholder="{:lang('请输入高度')}">
								</div>
							</div>

							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="form_group_status" style="display: none;">
								<div class="col-xs-12 label-title" for="statusInfo" style="margin-bottom: 14px;">{:lang('显示类型')}</div>
								<div class="col-xs-12" id='block'>
									<label class="pr10" id="imgInfo">
										<div class="iradio_minimal-red imgI"  data-icheck="statusInfo" aria-checked="false" aria-disabled="false"
											style="position: relative;"><input type="radio" data-toggle="icheck" name="type" 
												value="1" 
												checked
												style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins
												class="iCheck-helper"
												style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
										</div>
										{:lang('显示图片')}
									</label>
									<label class="pr10" id="videoInfo">
										<div class="iradio_minimal-red imgV" data-icheck="statusInfo" aria-checked="false" aria-disabled="false"
											style="position: relative;"><input type="radio" data-toggle="icheck" name="type"
												value="2"
												id='checkV'
												style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins
												class="iCheck-helper"
												style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
										</div>
										{:lang('显示视频')}
									</label>
								</div>
							</div>
							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 imgInfo" id="form_group_images form_group_img" style="display: none;">
								<div class="col-xs-12 label-title" for="images" style="text-align: left;">{:lang('图片')}</div>
								<!-- <div class="col-xs-12 js-upload-images webuploader-pick" id="uploadPic" style="margin-left: 15px;">{:lang('上传图片')}</div> -->
								<!-- <input type="hidden" v-model="slideId" id="slideVal" name="images" data-multiple="true" data-size="0" data-ext='' id="images" value=""> -->
								<div class="col-xs-12 js-upload-images">
									<div id="file_list_images" class="uploader-list pull-left"></div>
									<input type="hidden" v-model="slideId" id="slideVal" name="images" data-multiple="true" data-size="0" data-ext='' id="images" value="">
									<!-- <div id="picker_images" class="pull-left">{:lang('载入中')}...</div> -->
									<div class="col-xs-12 js-upload-images webuploader-pick" id="uploadPic">{:lang('上传图片')}</div>
									<div class="clearfix"></div>
								</div>
							</div>

							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 videoInfo" id="form_group_images form_group_video" style="display: none;">
								<div class="col-xs-12 label-title" for="images" style="text-align: left;">{:lang('视频')}</div>
								<div class="col-xs-12 js-upload-images">
									<div id="file_list_images2" class="uploader-list pull-left"></div>
									<input type="hidden"  id="video" name="video" data-multiple="true" data-size="0" data-ext='' id="videoI" value="">
									<!-- <div id="picker_images" class="pull-left">{:lang('载入中')}...</div> -->
									<div class="col-xs-12 js-upload-images webuploader-pick" id="uploadVideo" >{:lang('上传视频')}</div>
									<div class="clearfixVideo"></div>
								</div>
							</div>

							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="form_group_href">
								<div class="col-xs-12 label-title" for="href" id="myLink">{:lang('链接')}</div>
								<div class="col-sm-12" style="display: flex;">
									<input class="form-control" type="text" id="href" name="href" value=""
										placeholder="{:lang('请输入链接')}" style="width: calc(100% - 72px);">
										<span class="select-link">{:lang('点击选择')}</span>
								</div>
							</div>
							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="form_group_login">
                                <div class="col-xs-12 label-title" for="is_login" style="margin-bottom: 14px;">{:lang('是否需要登录')}</div>
                                <div class="col-xs-12">
                                    <label class="pr10">
                                        <div class="iradio_minimal-red" data-icheck="is_login" aria-checked="false" aria-disabled="false"
                                            style="position: relative;"><input type="radio" data-toggle="icheck" name="is_login" id="status1"
                                                value="0"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins
                                                class="iCheck-helper"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        否
                                    </label>
                                    <label class="pr10">
                                        <div class="iradio_minimal-red" data-icheck="is_login" aria-checked="false"
                                            aria-disabled="false" style="position: relative;"><input type="radio" data-toggle="icheck"
                                                name="is_login" id="status2" value="1" checked=""
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins
                                                class="iCheck-helper"
                                                style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        是
                                    </label>
                                </div>
                            </div>

							<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="form_group_status">
								<div class="col-xs-12 label-title" for="status" style="margin-bottom: 14px;">{:lang('立即启用')}</div>
								<div class="col-xs-12">
									<label class="pr10">
										<div class="iradio_minimal-red" data-icheck="status" aria-checked="false" aria-disabled="false"
											style="position: relative;"><input type="radio" data-toggle="icheck" name="status" id="status1"
												value="0"
												style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins
												class="iCheck-helper"
												style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
										</div>
										否
									</label>
									<label class="pr10">
										<div class="iradio_minimal-red" data-icheck="status" aria-checked="false"
											aria-disabled="false" style="position: relative;"><input type="radio" data-toggle="icheck"
												name="status" id="status2" value="1" checked=""
												style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins
												class="iCheck-helper"
												style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
										</div>
										是
									</label>
								</div>
							</div>

							<div class="form-group col-md-12 col-xs-12">
								<div class="col-xs-12">
									<button class="btn btn-primary " type="submit"  id="submitBtn"> {:lang('提交')} </button>
									<!-- <button class="btn btn-primary " type="submit" onclick="let index = parent.layer.getFrameIndex(window.name);parent.layer.close(index);setTimeout(()=>{parent.window.location.reload()},0);"> {:lang('提交')} </button> -->
									<button class="btn btn-default btn-flat" type="button" onClick="closelayer()"> {:lang('关闭')}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
 <!-- layui js -->
 <script src="/static/admin/js/layui/layui.js"></script>
<script src="__PLUG__/vue/vue.min.js"></script>
<script src="__PLUG__/vue/vue-resource.min.js"></script>
<script>
	const _link = document.querySelector('.select-link')
	_link.addEventListener('click', () => {
		parent.window.selectLink((callData) => {
			if(!callData){
				return false;
			}
			document.querySelector('#href').value = callData;
		})
	})

	function closelayer() {
		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
		parent.layer.close(index);
	}
	//提交
	// document.getElementById("block").addEventListener("click",function(e){
	// 	console.log(1111)
	// 	if(e.target.tagName=="INPUT"){
	// 		console.log("radiovalue",e.target.value)
	// 	}
	// })
	
	$('.imgInfo').show()
	$("#imgInfo").click(function(e){
		console.log(11122,e)
		$('.videoInfo').hide()
		$('.imgInfo').show()
		console.log(Html)
	})
	$("#videoInfo").click(function(e){
		console.log(2333,e)
		$('.imgInfo').hide()
		$('.videoInfo').show()
	})
	$('#submitBtn').click(function(){
		var form_data = $('#form').serialize()
		console.log(form_data,8585)


		// let index = parent.layer.getFrameIndex(window.name);
		// parent.layer.close(index);
		// setTimeout(()=>{
		// 	parent.window.location.reload()
		// },0);
	})
	function removeV(ele) {
		$('#file_list_images2').html('')
		$('#video').attr({ 'value': '' });
	}
	layui.use('upload', function(){
		var $ = layui.jquery
		,upload = layui.upload;
		upload.render({
			elem: '#uploadVideo'
			,url: '/api/v1/5fc615f7da92b' //改成您自己的上传接口
			,accept: 'video' //视频
			,done: function(res){
			layer.msg('上传成功');
			console.log(res)
			$('#video').attr({ 'value':res.data.data.fileId });
			var NewHtml =`
			<div style=' position: relative;'>
			<video src="${res.data.data.file}" width="221" height="121" controls="controls" id="video" >
				</video>
				<span  onclick="removeV(this)" style='position: absolute;top: 0;right: 0;margin-right: 10px;fonst-size:24px;border:1px solid #000;border-radius: 3px;padding: 2px 5px;cursor: pointer;'>x</span>
			</div>`
				$('#file_list_images2').html(NewHtml)
			}
		});
	})
	let cutPicWidth = 0; // 裁剪图片的宽度
	let cutPicHeight = 0; // 裁剪图片的高度
  $('#typeid').on('change',() => {
	$('#file_list_images2').html('')
	$('#file_list_images').html('')
	$('#video').attr({ 'value': '' });
	$('#slideVal').attr({ 'value': '' });
	  if($("#typeid").val() ==5 || $("#typeid").val() ==12){
		$('#form_group_status').show()
	  }else{
		$('#form_group_status').hide()
	  }
	  $('.videoInfo').hide()
		$('.imgInfo').show()
		$('#imgInfo .imgI >.iradio_minimal-red').addClass('checked')
		$('#imgInfo .imgI input').attr('checked',true)
		$('#videoInfo .imgV >.iradio_minimal-red').removeClass('checked')
		$('#videoInfo .imgV input').attr('checked',false)
		console.log($('#imgInfo input'))
		$.post('/admin.php/operation/ads_type/getSize',{ "id":$("#typeid").val() })
		.then(res => {
			if(res.code == 1) {
				cutPicWidth = res.data.width;
				cutPicHeight = res.data.height;
				$("input[name='width']").val(res.data.width);
				$("input[name='height']").val(res.data.height);
			}
		})
	})

	
	let slideVal = ''; // 此属性是图片裁剪完之后给from表单的input的value赋值的,不可删除
	let picNum = 0; // 上传的图片数量
	var Html = []; // 空的模板字符串
	document.querySelector('#uploadPic').addEventListener('click',() => {
		if(cutPicWidth == 0 || cutPicHeight == 0) {
			layer.msg('请先选择所属广告位');
			return
		}
		// 在这里修改裁剪图片的大小
		let picSize = {
			"width":cutPicWidth,
			"height":cutPicHeight
		}
		// 调用父级页面的方法的参数
		slideVal = $('#slideVal').attr('value')
		let data = {
			slideVal,
			picNum,
			Html,
			picSize
		}
		parent.window.addImgCov(data,(callData) => {
			slideVal = callData.slideVal;
			picNum = callData.picNum;
			Html = callData.Html;
			$('#slideVal').attr({ 'value':callData.slideVal });
			$("#file_list_images").html(callData.Html.join(''))
		})
	})
	// 删除图片
	function removePic(ele) {
		let tempId = ele.getAttribute("data-id");
		for(let i = 0; i < Html.length; i++) {
			if(Html[i].includes(`<i class="fa fa-times-circle remove-picture" onclick="removePic(this)" data-id="${tempId}"></i>`)) {
				Html.splice(i,1);
				return
			}
		}
		slideVal.replace(`${tempId},`,'');
		$('#slideVal').attr({ 'value': slideVal });
	}

</script>
{/block}