<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="/static/plugins/element-ui/element-ui.css">
    <!-- layui css -->
    <link rel="stylesheet" href="/static/admin/js/layui/css/layui.css">
    <script src="/static/plugins/vue/vue.min.js"></script>
    <!-- import JavaScript -->
    <script src="/static/plugins/element-ui/element-ui.js"></script>
    <script src="__PLUG__/jquery/jquery.min.js?v={:config('asset_version')}"></script>
    <script src="__PLUG__/layer/layer.js"></script>
    <style>
        .form {
            margin: 30px
        }

        .box-card {
            margin-bottom: 30px;
        }

        .layui-card-header {
            position: relative;
            height: 42px;
            line-height: 42px;
            padding: 0 15px;
            border-bottom: 1px solid #f6f6f6;
            color: #333;
            border-radius: 2px 2px 0 0;
            font-size: 14px;
        }

        .ns-card-title {
            font-size: 16px;
            font-weight: 600;
            padding-left: 10px;
        }

        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            /* border:1px solid #CCCCCC; */
        }

        .avatar {
            width: 100px;
            height: 100px;
            display: block;
            border: 1px solid #CCCCCC;
        }

        .be-careful {
            color: #F56C6C;
            font-size: 12px;
            line-height: 1;
            padding-top: 4px;
            position: absolute;
            top: 100%;
            left: 0;
        }
    </style>
</head>

<body>
<div id="app" class="app" style="display: none;">
    <div class="layui-card-header">
        <span class="ns-card-title">新增店铺</span>
    </div>
    <el-form ref="form" :model="form" label-width="80px" size='mini' class="form">
        <el-card class="box-card" shadow="never" v-if='form.apply_type ==1'>
            <div slot="header" class="clearfix">
                <span>个人认证信息</span>
            </div>
            <el-form-item label-width="100px" label="联系人" prop="contacts_name"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.contacts_name"></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="联系人电话" prop="contacts_phone"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.contacts_phone"  maxlength="11"></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="身份证" prop="idcard_no"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.idcard_no"></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="身份证正面" prop="idcard_front"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-upload class="avatar-uploader" action="/api/v1/5d5fa8984f0c2" :show-file-list="false"
                           :on-success="handleAvatarSuccess">
                    <img v-if="form.idcard_front" @click="btn('idcard_front')" :src="form.idcard_front_img"
                         class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" @click="btn('idcard_front')"></i>

                </el-upload>
            </el-form-item>
            <el-form-item label-width="100px" label="身份证反面" prop="idcard_reverse"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-upload class="avatar-uploader" action="/api/v1/5d5fa8984f0c2" :show-file-list="false"
                           :on-success="handleAvatarSuccess">
                    <img v-if="form.idcard_reverse" @click="btn('idcard_reverse')" :src="form.idcard_reverse_img"
                         class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" @click="btn('idcard_reverse')"></i>
                </el-upload>
            </el-form-item>
        </el-card>

        <el-card class="box-card" shadow="never" v-if='form.apply_type==2'>
            <div slot="header" class="clearfix">
                <span>公司认证信息</span>
            </div>
            <el-form-item label-width="100px" label="公司名称" prop="company_name"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.company_name"></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="联系地址" prop="company_province"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-cascader :props="adProps" v-model="form.company_province"></el-cascader>
            </el-form-item>
            <el-form-item label-width="100px" label="公司地址" prop="company_address"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.company_address"> </el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="统一社会信用码" prop="credit_code"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.credit_code"></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="营业执照" prop="business_licence"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-upload class="avatar-uploader" action="/api/v1/5d5fa8984f0c2" :show-file-list="false"
                           :on-success="handleAvatarSuccess">
                    <img v-if="form.business_licence" @click="btn('business_licence')" :src="form.business_licence_img"
                         class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon" @click="btn('business_licence')"></i>
                </el-upload>
            </el-form-item>
            <el-form-item label-width="100px" label="法定经营范围"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input type="textarea" v-model="form.range"></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="法人姓名" prop="contacts_name"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.contacts_name"></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="法人手机" prop="contacts_phone"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.contacts_phone"></el-input>
            </el-form-item>
        </el-card>
        <el-form-item label="结算类型">
            <el-radio label="1" v-model="form.account_type">微信</el-radio>
            <el-radio label="2" v-model="form.account_type">支付宝</el-radio>
            <el-radio label="3" v-model="form.account_type">银行卡</el-radio>
        </el-form-item>
        <el-card class="box-card" shadow="never" v-if='form.account_type ==1'
                 :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
            <div slot="header" class="clearfix">
                <span>微信</span>
            </div>
            <el-form-item label-width="100px" label="真实姓名" placeholder="请输入真实姓名" prop="true_name"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.true_name"></el-input>
            </el-form-item>

            <el-form-item label-width="100px" label="微信账号" placeholder="请输入微信账号" prop="account_id"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.account_id "></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="收款二维码" prop="qrcode"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-upload class="avatar-uploader" action="/api/v1/5d5fa8984f0c2" :show-file-list="false"
                           :on-success="handleAvatarSuccess">
                    <img v-if="form.qrcode" :src="form.qrcode_img" class="avatar" @click="btn('qrcode')">
                    <i v-else class="el-icon-plus avatar-uploader-icon" @click="btn('qrcode')"></i>
                </el-upload>
            </el-form-item>
        </el-card>
        <el-card class="box-card" shadow="never" v-if='form.account_type ==2'>
            <div slot="header" class="clearfix">
                <span>支付宝</span>
            </div>
            <el-form-item label-width="100px" label="真实姓名" placeholder="请输入真实姓名"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" prop="true_name">
                <el-input v-model="form.true_name"></el-input>
            </el-form-item>

            <el-form-item label-width="100px" label="支付宝账号" placeholder="请输入支付宝账号" prop="account_id"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.account_id "></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="收款二维码" prop="qrcode"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-upload class="avatar-uploader" action="/api/v1/5d5fa8984f0c2" :show-file-list="false"
                           :on-success="handleAvatarSuccess">
                    <img v-if="form.qrcode" :src="form.qrcode_img" class="avatar" @click="btn('qrcode')">
                    <i v-else class="el-icon-plus avatar-uploader-icon" @click="btn('qrcode')"></i>
                </el-upload>
            </el-form-item>
        </el-card>
        <el-card class="box-card" shadow="never" v-if='form.account_type ==3'>
            <div slot="header" class="clearfix">
                <span>银行卡</span>
            </div>
            <el-form-item label-width="100px" label="银行开户名" placeholder="请输入结算开户名" prop="account_name"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.account_name"></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="结算银行账号" prop="account_id" placeholder="请输入结算银行账号"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.account_id"></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="银行开户支行" placeholder="请输入结算开户银行支行名称" prop="bank_branch"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.bank_branch "></el-input>
            </el-form-item>
            <el-form-item label-width="100px" label="开户银行所在地" placeholder="请输入结算开户银行所在地" prop="bank_address"
                          :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
                <el-input v-model="form.bank_address "></el-input>
            </el-form-item>
        </el-card>
        <el-form-item label-width="100px" label="加盟商名称" prop="store_name" placeholder="请输入加盟商名称"
                      :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
            <el-input v-model="form.store_name" @blur="blur"></el-input>
            <div class="be-careful" v-if="showflag">注意：加盟商名称注册不可修改</div>
        </el-form-item>
        <!--            <el-form-item label-width="100px" label="入驻时长" prop="stay_time"-->
        <!--                :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">-->
        <!--                <el-select v-model="form.stay_time" placeholder="请选择" @change="sele_stay">-->
        <!--                    <el-option v-for="(item,index) in stay_time" :key="index" :label="item" :value="index">-->
        <!--                    </el-option>-->
        <!--                </el-select>-->
        <!--            </el-form-item>-->
        <!-- <el-form-item label-width="100px" label="开店套餐" prop="store_level_name" placeholder="请输入开店套餐">
            <el-input v-model="form.store_level_name" disabled></el-input>
        </el-form-item> -->
        <el-form-item label-width="100px" label="主营行业" prop="main_industry_id" placeholder="请选择主营行业"
                      :rules="{required: true, message: '内容不能为空', trigger: 'change'}">
            <el-select v-model="form.main_industry_id" placeholder="请选择主营行业" @change="main_industrychange">
                <el-option :label="item.name" :value="item.id" :key="index"
                           v-for="(item,index) in form.main_industry"></el-option>
            </el-select>
            <div class="be-careful" v-if="showflags">注意：主营行业不可修改</div>
        </el-form-item>
        <!--            <el-form-item label-width="100px" label="服务费" prop="service_money" placeholder="请选择"-->
        <!--                :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">-->
        <!--                <el-input v-model="form.service_money * form.stay_time" :disabled="true"></el-input>-->
        <!--            </el-form-item>-->
        <!--            <el-form-item label-width="100px" label="保证金" prop="service_money" placeholder="请选择"-->
        <!--                :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">-->
        <!--                <el-input v-model="form.money" :disabled="true"></el-input>-->
        <!--            </el-form-item>-->
        <el-form-item label-width="100px" label="店铺logo" prop="store_logo"
                      :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">
            <el-upload class="avatar-uploader" action="/api/v1/5d5fa8984f0c2" :show-file-list="false"
                       :on-success="handleAvatarSuccess">
                <img v-if="form.store_logo" :src="form.store_logo_img" class="avatar" @click="btn('store_logo')">
                <i v-else class="el-icon-plus avatar-uploader-icon" @click="btn('store_logo')"></i>
            </el-upload>

        </el-form-item>
        <!--            <el-form-item label-width="100px" label="店铺背景" prop="store_backdrop"-->
        <!--                :rules="{required: true, message: '内容不能为空', trigger: 'blur'}">-->
        <!--                <el-upload class="avatar-uploader" action="/api/v1/5d5fa8984f0c2" :show-file-list="false"-->
        <!--                    :on-success="handleAvatarSuccess2">-->
        <!--                    <img v-if="form.store_backdrop" :src="form.store_backdrop_img" class="avatar">-->
        <!--                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>-->
        <!--                </el-upload>-->

        <!--            </el-form-item>-->
        <!--            <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px" label="合计"-->
        <!--                prop="service_money" placeholder="请选择">-->
        <!--                <el-input v-model="money" :disabled="true"></el-input>-->
        <!--            </el-form-item>-->
        <!--            <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px">合计费用 = 入驻时长-->
        <!--                * 套餐服务费 + 行业保证金-->
        <!--            </el-form-item>-->
        <!--            <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px" label="营业时间"-->
        <!--                prop="business_hours">-->
        <!--                <el-time-picker format='HH:mm' value-format='HH:mm' is-range v-model="form.business_hours"-->
        <!--                    range-separator="至" start-placeholder="开始时间" end-placeholder="结束时间" placeholder="选择时间范围">-->
        <!--                </el-time-picker>-->
        <!--            </el-form-item>-->
        <!--            <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px" label="工作日"-->
        <!--                prop="workday">-->
        <!--                <el-checkbox-group v-model="form.workday">-->
        <!--                    <el-checkbox label="1">星期一</el-checkbox>-->
        <!--                    <el-checkbox label="2">星期二</el-checkbox>-->
        <!--                    <el-checkbox label="3">星期三</el-checkbox>-->
        <!--                    <el-checkbox label="4">星期四</el-checkbox>-->
        <!--                    <el-checkbox label="5">星期五</el-checkbox>-->
        <!--                    <el-checkbox label="6">星期六</el-checkbox>-->
        <!--                    <el-checkbox label="7">星期日</el-checkbox>-->
        <!--                </el-checkbox-group>-->
        <!--            </el-form-item>-->
        <!--            <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px" label="经营方式"-->
        <!--                prop="run_type">-->
        <!--                <el-radio v-model="form.run_type" label="1">自营</el-radio>-->
        <!--                <el-radio v-model="form.run_type" label="2">非自营</el-radio>-->
        <!--            </el-form-item>-->
        <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px"
                      label="店铺所在位置" prop="store_district_name">
            <el-select v-model="store_province_id" placeholder="请选择" @change='onProvinceChange'>
                <el-option v-for="item in provinceOptions" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
            </el-select>
            <el-select v-model="store_city_id" placeholder="请选择" @change='onCityChange'>
                <el-option v-for="item in cityOptions" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
            </el-select>
            <el-select v-model="store_district_id" placeholder="请选择" @change='onChange'>
                <el-option v-for="item in districtOptions" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px"
                      label="店铺所在详细地址" prop="store_address">
            <el-input type="textarea" v-model="form.store_address"></el-input>
        </el-form-item>
        <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px" label="客服电话"
                      prop="service_phone">
            <el-input v-model="form.service_phone"></el-input>
        </el-form-item>
        <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px" label="店铺简介"
                      prop="store_introduce">
            <el-input type="textarea" v-model="form.store_introduce"></el-input>
        </el-form-item>
        <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px" label="是否启用"
                      prop="status">
            <el-switch v-model="form.status" active-value="1" inactive-value="0"></el-switch>
        </el-form-item>

        <div class="search-box">
            <el-form-item label-width="100px" label="加盟商定位"
                          prop="lng">
                <el-input
                        v-model="searchKey"
                        type="search"
                        id="search"
                        placeholder="请输入详细地址"
                ></el-input>
            </el-form-item>
            <!--<button @click="searchByHand">搜索</button>-->
            <div class="tip-box" id="searchTip"></div>
        </div>

        <div class="amap-box" style="width:750px;height: 400px;margin-left: 100px">
            <el-amap
                    :amap-manager="amapManager"
                    :vid="'amap-vue'"
                    :zoom="zoom"
                    :plugin="plugin"
                    :center="center"
                    :events="events"
            >
                <!-- 标记 -->
                <el-amap-marker
                        v-for="(marker, index) in markers"
                        :position="marker"
                        :key="index"
                ></el-amap-marker>
            </el-amap>
            <!--            </div>-->

            <!--            <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px" label="店铺账号"-->
            <!--                prop="mobile">-->
            <!--                <el-input type="text" v-model="form.mobile"></el-input>-->
            <!--            </el-form-item>-->
            <!--            <el-form-item :rules="{required: true, message: '内容不能为空', trigger: 'blur'}" label-width="100px" label="店铺密码"-->
            <!--                prop="password">-->
            <!--                <el-input type="password" v-model="form.password"></el-input>-->
            <!--            </el-form-item>-->


            <el-form-item>
                <el-button type="primary" @click="onSubmit('form')">新增</el-button>
                <el-button @click='cancel'>取消</el-button>
            </el-form-item>
    </el-form>
</div>

</body>
<script src="/static/admin/js/mapVue.js"></script>
<script type="text/javascript">
    window._AMapSecurityConfig = {
        securityJsCode:'6e95db44d30f9c4d4c2a108a4e08c5fe',
    }
</script>
<script>
    Vue.use(VueAMap);
    // 初始化vue-amap
    VueAMap.initAMapApiLoader({
        key: "3f94349037454b876bc04c359b56c69b", // 这里写你申请的高德地图的key
        plugin: ["AMap.Autocomplete", "AMap.Geocoder", "AMap.Geolocation","AMapManager","lazyAMapApiLoaderInstance"],
        v: "1.4.15",
        uiVersion: "1.1"
    });

    const amapManager = new VueAMap.AMapManager();
    // var lazyAMapApiLoaderInstance = new VueAMap.lazyAMapApiLoaderInstance();

    new Vue({
        el: '#app',
        props: ["city", "value", "longitude", "latitude", "isEdit"],
        data: function () {
            let self = this;
            return {
                store_location:'',
                address: null,
                searchKey: "",
                amapManager,
                markers: [],
                searchOption: {
                    city: this.city ? this.city : "全国",
                    citylimit: true
                },
                center: [121.329402, 31.228667],
                zoom: 17,
                lng: 0,
                lat: 0,
                loaded: false,
                events: {
                    init() {
                        // lazyAMapApiLoaderInstance.load().then(() => {
                        self.initSearch();
                        // });
                    },
                    // 点击获取地址的数据
                    click(e) {
                        self.markers = [];
                        let { lng, lat } = e.lnglat;
                        self.lng = lng;
                        self.lat = lat;
                        self.center = [lng, lat];
                        self.markers.push([lng, lat]);
                        console.log(self.lng,self.lat,'ewewewewewewe')
                        // 这里通过高德 SDK 完成。
                        let geocoder = new AMap.Geocoder({
                            radius: 1000,
                            extensions: "all"
                        });
                        geocoder.getAddress([lng, lat], function(status, result) {
                            if (status === "complete" && result.info === "OK") {
                                if (result && result.regeocode) {
                                    self.address = result.regeocode.formattedAddress;
                                    self.searchKey = result.regeocode.formattedAddress;
                                    self.$emit("updateLocation", lng, lat, self.searchKey);
                                    self.$nextTick();
                                }
                            }
                        });
                    }
                },
                // 一些工具插件
                plugin: [
                    {
                        // 定位
                        pName: "Geolocation",
                        events: {
                            init(o) {
                                // o是高德地图定位插件实例
                                o.getCurrentPosition((status, result) => {
                                    if (result && result.position) {
                                        if (self.isEdit) {
                                            console.log(self.longitude)
                                            console.log(self.latitude)
                                            // 设置经度
                                            self.lng = self.longitude;
                                            // 设置维度
                                            self.lat = self.latitude;
                                            // 设置坐标
                                            self.center = [self.longitude, self.latitude];
                                            self.markers.push([self.longitude, self.latitude]);
                                        } else {
                                            // 设置经度
                                            self.lng = result.position.lng;
                                            // 设置维度
                                            self.lat = result.position.lat;
                                            // 设置坐标
                                            self.center = [self.lng, self.lat];
                                            self.markers.push([self.lng, self.lat]);
                                        }
                                        // load
                                        self.loaded = true;
                                        // 页面渲染好后
                                        self.$nextTick();
                                    }
                                });
                            }
                        }
                    }
                ],




                showflag: true,
                showflags: true,
                valtemp: '',

                store_level_list: [],
                form: {
                    qrcode:'', // 店铺二维码
                    qrcode_img:'', // 店铺二维码
                    status: '1', // 是否启用
                    mobile: '', // 账号
                    password: '', // 密码
                    store_level: '', // 店铺id
                    service_money: 0, // 服务费
                    money: '', //保证金
                    store_logo: '', // 店铺logo
                    store_logo_img: '', // 店铺logo
                    pay_money: '', // 合计
                    store_level_name: "", // 开店套餐
                    store_name: "", // 店铺名称
                    main_industry_id: "", // 主营行业id
                    main_industry: "", // 主营行业
                    company_province_id: '', // 公司省id
                    company_city_id: '', // 公司市id
                    company_district_id: '', // 公司区id
                    stay_time: '', //入驻时长
                    true_name: '', //真实姓名
                    bank_address: '', // 开户银行所在地
                    bank_branch: '', // 银行开户支行
                    account_name: '', // 银行开户名
                    account_id: '', // 银行开户账号
                    account_type: '1', // 结算类型
                    company_province: [], // 联系地址
                    company_name: '', // 公司名称
                    company_address: '', //公司地址
                    credit_code: '', // 统一社会信用码
                    range: '', // 范围
                    business_licence: '', // 营业执照
                    business_licence_img: '', // 营业执照
                    idcard_no: '', // 身份证
                    idcard_front: '', // 身份证正面
                    idcard_front_img: '', // 身份证正面
                    idcard_reverse: '', // 身份证反面
                    idcard_reverse_img: '', // 身份证反面
                    contacts_phone: '', // 联系人电话
                    contacts_name: '', // 联系人
                    apply_type: '1',
                    store_backdrop: '', // 店铺背景
                    store_backdrop_img: '', // 店铺背景
                    store_introduce: '', // 店铺简介
                    service_phone: '', // 客服电话
                    run_type: '1', // 经营方式 1 自营 2非自营
                    store_address: '', // '店铺所在详细地址
                    workday: [], // '工作日
                    business_hours: '', // 营业时间
                    workday: [], // '工作日
                    store_province_id: '', // 省code
                    store_city_id: '', // 市code
                    store_district_id: '', // 区code
                    store_province_name: '', // 省
                    store_city_name: '', // 市
                    store_district_name: '', // 区
                },
                time: 1,
                store_district_id: '', // 区id
                store_province_id: '', // 省id
                store_city_id: '', // 市id
                districtOptions: [],
                provinceOptions: [],
                cityOptions: [],
                companyof_name: '400-886-7993',
                logins_account: 'test1',
                valtemp: '',
                username: "",
                showflag: true,
                stay_time: [],
                showflags: true,
                service_money: "",
                options: [],
                adProps: {
                    lazy: true,
                    value: 'id',
                    label: 'name',
                    lazyLoad(node, resolve) {
                        const {
                            level,
                            root,
                            data
                        } = node;
                        let params = {}
                        params = root ? {
                            pid: '',
                            tableName: "(select * from ym_platfrom.v_region where pid='0') t"
                        } : {
                            pid: data.id,
                            tableName: 'ym_platfrom.v_region'
                        };

                        if (root) {
                            $.ajax({
                                type: "GET",
                                dataType: "JSON",
                                url: '/admin.php/store/index/address',
                                data: params,
                                success: function (res) {
                                    const result = res.data.map(item => {
                                        item.id = `${item.id}`;
                                        return Object.assign(item, {
                                            label: name,
                                            leaf: level >= 2
                                        });
                                    });
                                    resolve(result);
                                },
                            })
                        } else {
                            $.ajax({
                                type: "GET",
                                dataType: "JSON",
                                url: '/admin.php/store/index/address',
                                data: params,
                                success: function (res) {
                                    const result = res.data.map(item => {
                                        item.id = `${item.id}`;
                                        return Object.assign(item, {
                                            label: name,
                                            leaf: level >= 2
                                        });
                                    });
                                    resolve(result);
                                },
                            })
                        }
                    }
                }

            }
        },
        created() {
            if (this.value) {
                this.searchKey = this.value;
                this.address = this.value;
            }
            if (this.longitude && this.latitude) {
                this.lng = this.longitude;
                this.lat = this.latitude;
                this.center = [this.longitude, this.latitude];
                this.markers.push([this.longitude, this.latitude]);
            }
        },
        computed: {
            money() {
                // this.form.money
                let stay_time = Number(this.time);
                let money = Number(this.form.money);
                let service_money = Number(this.form.service_money)
                let total = stay_time * service_money + money;
                console.log(stay_time, money, service_money)
                this.form.pay_money = total;
                return total || 0
            }
        },
        mounted() {
            document.getElementById('app').style.display = 'block'
            this.optionstwo()
            this.getDatas()
            this.getAddressList()
            console.log(12344)


        },
        methods: {
            // 选择地址后自动定位到当前地址附近
            updateAddress(value, longitude, latitude) {
                this.searchKey = value;
                this.address = value;
                this.lng = longitude;
                this.lat = latitude;
                this.center = [longitude, latitude];
                this.markers.push([longitude, latitude]);
            },
            initSearch() {
                let vm = this;
                let map = this.amapManager.getMap();
                AMapUI.loadUI(["misc/PoiPicker"], function(PoiPicker) {
                    let poiPicker = new PoiPicker({
                        input: "search",
                        placeSearchOptions: {
                            map: map,
                            pageSize: 20
                        },
                        suggestContainer: "searchTip",
                        searchResultsContainer: "searchTip"
                    });
                    vm.poiPicker = poiPicker;
                    // 监听poi选中信息
                    poiPicker.on("poiPicked", function(poiResult) {
                        let source = poiResult.source;
                        let poi = poiResult.item;
                        if (source !== "search") {
                            poiPicker.searchByKeyword(poi.name);
                        } else {
                            poiPicker.clearSearchResults();
                            vm.markers = [];
                            let lng = poi.location.lng;
                            let lat = poi.location.lat;
                            let address = poi.name; // poi.cityname + poi.adname + poi.name
                            vm.center = [lng, lat];
                            vm.markers.push([lng, lat]);
                            vm.lng = lng;
                            vm.lat = lat;
                            vm.address = address;
                            vm.searchKey = address;
                            vm.$emit("updateLocation", lng, lat, vm.searchKey);
                            console.log(lng,lat,'dsae34erwdwe')
                        }
                    });
                });
            },
            searchByHand() {
                if (this.searchKey !== "" && this.poiPicker) {
                    this.poiPicker.searchByKeyword(this.searchKey);
                }
            },
            onChangeType(val) {
                console.log(val);
                this.form.store_level = val;
                this.store_level_list.forEach(item => {
                    if (item.id == val) {
                        this.form.store_level_name = item.name
                    }
                })
                console.log(this.store_level_list, this.form.store_level_name)
                this.get_store_level_id();
            },
            get_store_level_id() {
                let params = {
                    id: this.form.store_level
                }
                $.ajax({
                    type: "GET",
                    dataType: "JSON",
                    url: '/admin.php/store/index/get_store_level_id',
                    data: params,
                    success: (res) => {
                        console.log(res)
                        this.form.service_money = res.data.money
                        this.form.store_level_name = res.data.store_level_name
                        var n = Number(this.form.stay_time.substring(0, s = this.form.stay_time
                            .length - 1))
                        this.form.pay_money = Number(this.form.service_money) * n + Number(this.form
                            .money)
                        console.log(n, this.form.service_money)
                    },
                })
            },
            getDatas() {
                let data = '';
                let that = this
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: '/admin.php/store/index/get_store_trade',
                    data: data,
                    success: (res) => {
                        if (res.code == 1) {
                            this.form.money = 0
                            this.$set(this.form, 'main_industry', res.data)
                        } else {
                            layer.msg(res.msg);
                            register_repeat_flag = false;
                            verificationCode();
                            if (res.url) {
                                window.location = res.url;
                            }
                        }
                    }
                })
            },
            optionstwo() {
                let params = {}
                $.ajax({
                    type: "GET",
                    dataType: "JSON",
                    url: '/admin.php/store/index/store_data',
                    data: params,
                    success: (res) => {
                        console.log(res)
                        // this.form.main_industry=res.data.main_industry
                        this.stay_time = res.data.stay_time
                        this.store_level_list = res.data.store_level
                        this.form.store_level = res.data.store_level[0].id
                        this.form.store_level_name = res.data.store_level[0].name
                        console.log(res.data.main_industry)
                        this.get_store_level_id()
                    },
                })
            },
            onChange(val) {
                console.log(val)
                this.districtOptions.forEach(item => {
                    if (item.id == val) {
                        this.form.store_district_name = item.name
                        this.form.store_district_id = item.region_code
                    }
                })
            },
            onCityChange(val) {
                this.getAddressList('city', val)
                this.store_district_id = ''
                this.form.store_district_name = ''
                this.form.store_district_id = ''
                this.cityOptions.forEach(item => {
                    if (item.id == val) {
                        this.form.store_city_name = item.name
                        this.form.store_city_id = item.region_code
                    }
                })
            },
            // 地址
            getAddressList(type, id) {
                let data = {}
                if (type == 'province') {

                    this.districtOptions = []
                    data.pid = id
                }
                if (type == 'city') {
                    data.pid = id
                }
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    // url: '{:config("web_site_domain")}/api/v1/6103722b95168',
                    url: 'http://xibei.jishu11.com/api/v1/6103722b95168',
                    data: data,
                    success: (res) => {
                        if (res.code == 1) {
                            console.log(res.data)
                            console.log(type)
                            if (type == 'province') {
                                this.cityOptions = res.data
                                return false
                            }
                            if (type == 'city') {
                                this.districtOptions = res.data
                                return false
                            }
                            this.provinceOptions = res.data
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                })
            },
            onProvinceChange(val) {
                console.log(val)
                this.store_city_id = ''
                this.store_district_id = ''
                this.form.store_district_name = ''
                this.form.store_district_id = ''
                this.form.store_city_name = ''
                this.form.store_city_id = ''
                this.provinceOptions.forEach(item => {
                    if (item.id == val) {
                        this.form.store_province_name = item.name
                        this.form.store_province_id = item.region_code
                    }
                })
                this.getAddressList('province', val)
            },

            handleAvatarSuccess2(res) {
                console.log('上传成功', res)
                this.form.store_backdrop = res.data[0].id
                this.form.store_backdrop_img = res.data[0].path
            },
            sele_stay(e) {
                console.log('333333333', e)
                this.time = e;
            },
            // 店铺名称告警
            blur() {
                if (this.form.store_name.length < 3) {
                    this.showflag = false
                } else {
                    this.showflag = true
                }
            },
            //主营行业
            main_industrychange(item) {

                this.showflags = true
                this.form.money = this.form.main_industry[item - 1].money
            },
            btn(val) {
                setTimeout(() => {
                    this.valtemp = val
                }, 500)

            },
            handleAvatarSuccess(res, file) {
                const data = {
                    "id": res.data[0].id,
                    "path": res.data[0].path
                }
                console.log('上传成功', res)
                console.log(this.valtemp)
                // this.$set(this.temp, "thumb", data.id)
                if (this.valtemp == 'business_licence') {
                    this.form.business_licence = data.id
                    this.form.business_licence_img = data.path
                } else if (this.valtemp == 'idcard_reverse') {
                    this.form.idcard_reverse = data.id
                    this.form.idcard_reverse_img = data.path
                } else if (this.valtemp == 'idcard_front') {
                    this.form.idcard_front = data.id
                    this.form.idcard_front_img = data.path
                } else if (this.valtemp == 'qrcode') {
                    this.form.qrcode = data.id
                    this.form.qrcode_img = data.path
                } else if (this.valtemp == 'store_logo') {
                    this.form.store_logo = data.id
                    this.form.store_logo_img = data.path
                } else {

                    return
                }

            },
            cancel() {
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                parent.layer.close(index);
            },
            onSubmit(formName) {
                if (this.form.main_industry_id == '') {
                    this.showflags = false
                } else {
                    this.showflags = true
                }
                if (this.form.store_name == '') {
                    this.showflag = false
                } else {
                    this.showflags = true
                }
                if(this.lng == '' || this.lat == ''){
                    this.showflag = false
                }
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (this.form.apply_type == 2) {
                            this.form.company_province_id = this.form.company_province[0]
                            this.form.company_city_id = this.form.company_province[1]
                            this.form.company_district_id = this.form.company_province[2]
                        }
                        let data = JSON.parse(JSON.stringify(this.form))
                        if(this.lng == 0 || this.lat == 0){
                            layer.msg('请选择加盟商定位');
                        }
                        data.lon = this.lng
                        data.lat = this.lat

                        if (data.workday.length > 0) {
                            data.workday = data.workday.join(',')
                        }
                        if (data.business_hours.length > 0) {
                            data.business_hours = data.business_hours[0] + '-' + data.business_hours[1]
                        }
                        data.main_industry =data.main_industry_id

                        delete data.company_province
                        delete data.main_industry_id
                        delete data.qrcode_img
                        delete data.store_logo_img
                        delete data.store_backdrop_img
                        delete data.business_licence_img
                        delete data.idcard_front_img
                        delete data.idcard_reverse_img
                        console.log('submit!', data);
                        $.ajax({
                            type: "POST",
                            dataType: "JSON",
                            url: '/admin.php/store/index/add',
                            data: data,
                            success: function (res) {
                                console.log(res, 'res')
                                if (res.code == 1) {
                                    layer.msg('添加成功','',3)
                                    window.parent.location.reload();
                                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                                    parent.layer.close(index);
                                } else {
                                    layer.msg(res.msg);
                                }
                            }
                        })


                    } else {
                        console.log('error submit!!');
                        return false;
                    }

                });


            }
        },
    })
</script>
<style lang="stylus">
    .search-box {
        margin-top: 6px;
        /*width: 100%;*/
    }
    .search-box input {
        padding: 0 15px;
        width: 100%;
        height: 28px;
        line-height: 28px;
        color: #606266;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
    }
    .search-box input:focus {
        border-color: #409eff;
        outline: 0;
    }
    .search-box input::-webkit-input-placeholder {
        color: #c0c4cc;
    }
    .tip-box {
        width: 80%;
        max-height:280px;
        position: absolute;
        top: 72px;
        z-index: 10000;
        overflow-y: auto;
        background-color: #fff;
    }
</style>
<style>
    .amap-box {
        width:500px !important;
        height: 200px !important;
        margin-left: 100px;

    }
</style>
</html>