{extend name="$admin_layout" /}
{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="box nav-tabs-custom" >
            <div class="box-body">
                <div class="tab-pane active">
                    <div class="row">
                        <form action="" method="get">
                            <div class="col-md-2 col-xs-6">
                                <input type="text" class="form-control" name="user_id" placeholder="{:lang('请输入用户')}id" value="{$map.user_id}">
                            </div>

                            <div class="col-md-2 col-xs-6">
                                <button class="btn btn-success btn-flat" type="submit">{:lang('搜索')}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="box nav-tabs-custom" >
            <div class="box-header with-border">
                <h3 class="box-title">{:lang('动态列表')}</h3>
            </div>
            <div class="box-body">
                <div class="tab-pane active">
                    <div class="pb10">
                    <a title="{:lang('批量启用')}" href="{:url('user/index/setstatus',['type'=>enable])}" icon="fa fa-check-circle pr5" class="btn btn-sm mr5 btn-default btn-flat ajax-post confirm" target-form="ids"><i class="fa fa-check-circle pr5"></i> {:lang('批量启用')}</a>
                    <a title="{:lang('批量禁用')}" href="{:url('user/index/setstatus',['type'=>disable])}" icon="fa fa-ban pr5" class="btn btn-sm mr5 btn-default btn-flat ajax-post confirm" target-form="ids"><i class="fa fa-ban pr5"></i> {:lang('批量禁用')}</a>
                    </div>
                    <table class="table table-builder table-hover table-bordered table-striped mb10">
                        <thead>
                        <th class="text-center" style="width: 70px;"> <input class="minimal-red checkboxCtrl" data-group="ids[]" data-toggle="icheck" type="checkbox">
                            </th>
                            <th class="">ID</th>
                            <th class="">{:lang('用户')}ID</th>
                            <th class="">{:lang('内容')}</th>
                            <th class="">{:lang('评论数')}</th>
                            <th class="">{:lang('点赞数')}</th>
                            <th class="">{:lang('发布时间')}</th>
                            <th class="">{:lang('是否举报')}</th>

                            <th class="text-center">{:lang('操作')}</th>
                                </thead>
                        <tbody>
                            {volist name="data_list" id="u"}
                            <tr>
                                <td class="text-center" style="width: 70px;"><input class="ids minimal-red" data-toggle="icheck" type="checkbox" name="ids[]" value="{$u.id}"></td>
                                <td class=""> {$u.id} </td>
                                <td class=""> {$u.user_id} </td>
                                <td class=""> {$u.content} </td>

                                <td class=""> {$u.comments}</td>
                                <td class=""> {$u.likes}</td>
                                <td class=""> {$u.createtime} </td>
                                <td class=""> {$u.is_report} </td>

                                <td class="text-center">
                                    <a title="{:lang('编辑')}" href="/admin.php/user/index/edit/id/1.html" icon="fa fa-pencil pr5" class="btn btn-xs mr5 btn-default btn-flat" ><i class="fa fa-pencil pr5"></i>{:lang('编辑')}</a>
                                    <a title="{:lang('禁用')}" href="/admin.php/user/index/setstatus/type/disable/ids/1.html" icon="fa fa-ban pr5" class="btn btn-xs mr5 btn-default btn-flat ajax-get confirm" ><i class="fa fa-ban pr5"></i>{:lang('禁用')}</a>
                                    <a title="{:lang('删除')}" href="/admin.php/user/index/delete/ids/1.html" icon="fa fa-times pr5" class="btn btn-xs mr5 btn-default btn-flat ajax-get confirm" ><i class="fa fa-times pr5"></i>{:lang('删除')}</a></td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                    <div class="data-table-toolbar">
                        <div class="row">
                            <div class="col-sm-12">
                                {notempty name="pages"}
                                {$pages|raw}
                                {/notempty}
                                {notempty name="data_list"}
                                <div class="pagination-info pull-left"> {:lang('第')} {:input('param.page', '1')} {:lang('页')} / {:lang('总计')} {$data_list->lastPage()} {:lang('页')}，{:lang('共')} <strong>{$data_list->total()}</strong> {:lang('条数据')} </div>
                                {/notempty}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}