<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="file_list_img_url">
  <div class="col-xs-12 label-title" for="img_url" style="text-align: left;">{:lang('图片')}</div>
  <div class="col-xs-12 js-upload-images">
    <div id="file_list_addimgcut" class="uploader-list pull-left"></div>
    <input type="hidden" v-model="slideId" id="img_url" name="img_url" data-multiple="true" data-size="0" data-ext='' value="">
    <div class="col-xs-12 js-upload-images webuploader-pick" id="addimgcutUploadPic">{:lang('上传图片')}</div>
    <div class="clearfix"></div>
  </div>
</div>