<table class="layui-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>{:lang('期数')}</th>
			<th>{:lang('金额')}</th>
			<th>{:lang('状态')}</th>
			<th>{:lang('备注')}</th>
			<th>{:lang('支付时间')}</th>
			<th>{:lang('创建时间')}</th>
			<?php if(in_array($admin_role,[19,20])):?>
			<th>{:lang('操作')}</th>
			<?php endif;?>
		</tr>
	</thead>
	<tbody>
		<?php foreach($contractPayedList as $v):?>
		<tr>
			<td>{$v['aid']}</td>
			<td>{$v['name']}</td>
			<td style="color: #FF0000;">￥{$v['money']}</td>
			<td style="color: {$v['statusColor']};">{$v['statusName']}</td>
			<td style="width: 100px"><?php echo $v['status_remarkData']; ?></td>
			<td>{$v['pay_time']|date="Y-m-d"}</td>
			<td>{$v['create_time']|date="Y-m-d"}</td>
			<?php if(in_array($admin_role,[19,20])):?>
			<td>
				<a href="{:url('ProjectMoneypay/add',['contract_payed'=>$v['aid']])}" type="button" class="layui-btn lLayui-btn layui-btn-sm layerOpenBtnRT" data-title="{:lang('新增回款记录')}">{:lang('新增回款记录')}</a>
			</td>
			<?php endif;?>
		</tr>
		<?php endforeach;?>
	</tbody>
</table>
