<div>
    <table class="table table-builder table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>{:lang('订单号')}</th>
            <th>{:lang('订单金额')}</th>
            <th>{:lang('实付金额')}</th>
            <th>{:lang('订单状态')}</th>
            <th class="column-right_button text-center">{:lang('下单时间')}</th>
        </tr>
        </thead>
        <tbody>

        {notempty name="order"}
        {volist name="order" id="module"}
        <tr>
            <td>{$module.order_sn|default='无标题'}</td>
            <td>{$module.order_money}</td>
            <td>{$module.real_money}</td>
            <td>{$module.status}</td>
            <td class="text-center">{$module.create_time}</td>
        </tr>
        {/volist}
        {else /}
        <tr class="table-empty">
            <td class="text-center empty-info" colspan="6"><i class="fa fa-database"></i> {:lang('暂无数据')} <br></td>
        </tr>
        {/notempty}
        </tbody>

    </table>
    <div class="data-table-toolbar">
        <div class="row">
            <div class="col-sm-12"> {// 分页 }
                {notempty name="order_pages"}
                {$order_pages|raw}
                {/notempty}
                {notempty name="order"}

                <div class="pagination-info pull-right">
                    <div>
                        <input type="text" class="form-control input-sm go-page" id="go-page" name="page" value="{:input('param.page', '1')}">
                        <input type="text" class="form-control input-sm nums" id="list-rows" name="list_rows" value="{php}echo input('param.list_rows', '') == '' ? $order->listRows() : input('param.list_rows');{/php}">
                        / <strong>{$order->lastPage()|raw}</strong> {:lang('页')}，{:lang('共')} <strong>{$order->total()|raw}</strong> {:lang('条数据')}，{:lang('每页显示数量')}
                    </div>
                </div>
                {/notempty}
            </div>
        </div>
    </div>

</div>