<div>
    <table class="table table-builder table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>{:lang('浏览商品')}</th>
            <th>{:lang('浏览时间')}</th>
        </tr>
        </thead>
        <tbody>

        {notempty name="visit"}
        {volist name="visit" id="module"}
        <tr>
            <td>{$module.collect_title}</td>
            <td><?php echo date("Y-m-d H:i:s",$module['create_time']); ?></td>
        </tr>
        {/volist}
        {else /}
        <tr class="table-empty">
            <td class="text-center empty-info" colspan="6"><i class="fa fa-database"></i> {:lang('暂无数据')} <br></td>
        </tr>
        {/notempty}
        </tbody>

    </table>
    <div class="data-table-toolbar">
        <div class="row">
            <div class="col-sm-12"> {// 分页 }
                {notempty name="visit_pages"}
                {$visit_pages|raw}
                {/notempty}
                {notempty name="visit"}

                <div class="pagination-info pull-right">
                    <div>
                        <input type="text" class="form-control input-sm go-page" id="go-page" name="page" value="{:input('param.page', '1')}">
                        <input type="text" class="form-control input-sm nums" id="list-rows" name="list_rows" value="{php}echo input('param.list_rows', '') == '' ? $visit->listRows() : input('param.list_rows');{/php}">
                        / <strong>{$visit->lastPage()|raw}</strong> {:lang('页')}，{:lang('共')} <strong>{$visit->total()|raw}</strong> {:lang('条数据')}，{:lang('每页显示数量')}
                    </div>
                </div>
                {/notempty}
            </div>
        </div>
    </div>

</div>