{extend name="$admin_layout" /}

{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/dsc/main.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/dsc/iconfont.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/dsc/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/dsc/order-new.css?v=2">
{/block}

{block name="content"}

<div class="warpper">
    <div class="title">{:lang('商品')} - {:lang('商品批量导出')}</div>
    <div class="content">
        <div class="tabs_info">
            <ul>
                <li><a href="goods_batch">{:lang('商品批量修改')}</a></li>
                <li><a href="goods_batch_add">{:lang('商品批量上传')}</a></li>
                <li class="curr"><a href="goods_batch_export">{:lang('商品批量导出')}</a></li>
                <li><a href="goods_batch_auto">{:lang('批量自动上下架')}</a></li>
            </ul>
        </div>
        <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>{:lang('操作提示')}</h4><span id="explanationZoom" title="{:lang('收起提示')}"></span></div>
            <ul><li>{:lang('根据商品分类')}、{:lang('品牌或关键字搜索出需要导出的商品')}。</li><li>{:lang('选择数据格式和编码')}，{:lang('进行商品导出')}。</li></ul>
        </div>
        <div class="flexilist">
            <div class="common-content">
                <div class="step" ectype="filter" data-filter="goods">
                    <div class="step_content">
                        <div class="goods_search_div">
                            <div class="search_select">
                                <div class="categorySelect">
                                    <div class="selection">
                                        <input type="text" name="category_name" id="category_name" class="text w250 valid" value="{:lang('请选择分类')}" autocomplete="off" readonly="" data-filter="cat_name">
                                        <input type="hidden" name="category_id" id="category_id" value="0" data-filter="cat_id">
                                    </div>
                                    <div class="select-container" style="display:none;">
                                        <div class="select-top">
                                            <a href="javascript:;" class="categoryTop" data-cid="0" data-cname="" data-diff="0" data-show="0" data-seller="0" data-table="category">{:lang('重选')}</a>
                                            &gt; <span>{:lang('请选择分类')}</span>
                                        </div>
                                        <div class="select-list">
                                            <ul>
                                                <li data-cid="1" data-cname="{:lang('图书')}、{:lang('音像')}、{:lang('电子书')}" data-diff="0" data-url="category.php?id=1" data-show="0" data-seller="0" data-table="category">
                                                    <em>Ⅰ</em>
                                                    {:lang('图书')}、{:lang('音像')}、{:lang('电子书')}		</li>

                                            </ul>
                                        </div>										</div>
                                </div>
                            </div>
                            <div class="search_select">
                                <div class="brandSelect">
                                    <div class="selection">
                                        <input type="text" name="brand_name" id="brand_name" class="text w120 valid" value="{:lang('请选择品牌')}" autocomplete="off" readonly="" data-filter="brand_name">
                                        <input type="hidden" name="brand_id" id="brand_id" value="0" data-filter="brand_id">
                                    </div>
                                    <div class="brand-select-container" style="display:none;">
                                        <div class="brand-top">
                                            <div class="letter">
                                                <ul>
                                                    <li><a href="javascript:void(0);" data-letter="">{:lang('全部品牌')}</a></li>

                                                </ul>
                                            </div>
                                            <div class="b_search">
                                                <input name="search_brand_keyword" id="search_brand_keyword" type="text" class="b_text" placeholder="{:lang('品牌名称关键字查找')}" autocomplete="off">
                                                <a href="javascript:void(0);" class="btn-mini"><i class="icon icon-search"></i></a>
                                            </div>
                                        </div>
                                        <div class="brand-list">
                                            <ul>
                                                <li data-id="0" data-name="{:lang('请选择品牌')}" class="blue">{:lang('取消选择')}</li>

                                            </ul>
                                        </div>
                                        <div class="brand-not" style="display:none;">{:lang('没有符合')}"<strong>{:lang('其他')}</strong>"{:lang('条件的品牌')}</div>										</div>
                                </div>
                            </div>
                            <input type="text" name="keyword" class="text w150" value="" placeholder="{:lang('请输入关键字')}" data-filter="keyword" autocomplete="off">
                            <div style="border:1px dotted #f00; padding:0px 0px 0px 10px;" class="fl mr10 hide" ectype="limit_content">
                                <input type="text" name="limit_start" class="text w50" value="0" placeholder="{:lang('开始')}" data-filter="limit_start" autocomplete="off">
                                <input type="text" name="limit_number" class="text w50" value="50" placeholder="{:lang('条数')}" data-filter="limit_number" autocomplete="off">
                            </div>
                            <a href="javascript:void(0);" class="btn btn30" ectype="limit_button"><i class="icon icon-edit"></i>{:lang('范围')}</a>
                            <a href="javascript:void(0);" class="btn btn30" ectype="search"><i class="icon icon-search"></i>{:lang('搜索')}</a>
                        </div>
                        <div class="move_div">
                            <div class="move_left">
                                <h4>{:lang('可选商品')}</h4>
                                <div class="move_info">
                                    <div class="move_list ps-container">
                                        <ul>
                                        </ul>                                        <div class="ps-scrollbar-x-rail" style="width: 481px; display: none; left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 250px; display: none; right: 0px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div></div>
                                </div>
                                <div class="move_handle">
                                    <a href="javascript:void(0);" class="btn btn25 moveAll" ectype="moveAll">{:lang('全选')}</a>
                                    <a href="javascript:void(0);" class="btn btn25 red_btn" ectype="sub" data-operation="add_export_goods">{:lang('确定')}</a>
                                </div>
                            </div>
                            <div class="move_middle">
                                <div class="move_point" data-operation="add_export_goods"></div>
                            </div>
                            <div class="move_right">
                                <h4>{:lang('数据批量导出的商品')}</h4>
                                <div class="move_info">
                                    <div class="move_list ps-container" id="export_goods">
                                        <ul>
                                        </ul>                                        <div class="ps-scrollbar-x-rail" style="width: 481px; display: none; left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 250px; display: none; right: 0px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div></div>
                                </div>
                                <div class="move_handle">
                                    <a href="javascript:void(0);" class="btn btn25 moveAll" ectype="moveAll">{:lang('全选')}</a>
                                    <a href="javascript:void(0);" class="btn btn25 btn_red" ectype="sub" data-operation="drop_export_goods">{:lang('移除')}</a>
                                </div>
                            </div>
                        </div>
                        <div class="move_buttom_div">
                            <div class="data_format_select">
                                <div class="label">{:lang('数据格式')}：</div>
                                <div class="value">
                                    <div id="dataformat_select" class="imitate_select select_w320">
                                        <div class="cite">{:lang('导出到')}ECShop{:lang('数据格式')}</div>
                                        <ul style="display: none;">
                                            <li><a href="javascript:;" data-value="ecshop" class="ftx-01">{:lang('导出到')}ECShop{:lang('数据格式')}</a></li>
                                            <li><a href="javascript:;" data-value="taobao" class="ftx-01">{:lang('导出淘宝助理支持数据格式')}</a></li>
                                            <li><a href="javascript:;" data-value="custom" class="ftx-01">{:lang('导出到自定义数据格式')}</a></li>
                                        </ul>
                                        <input name="data_format" type="hidden" value="ecshop" id="dataformat_select_val">
                                    </div>
                                </div>
                            </div>

                            <div id="export_format"><div class="data_format_content" id="ecshop_form" style="">
                                <form action="goods_export.php" method="post" name="theForm">
                                    <div class="item">
                                        <div class="label">{:lang('请选择要导出的编码')}：</div>
                                        <div class="value">
                                            <div id="charset_select" class="imitate_select select_w320">
                                                <div class="cite">UTF8</div>
                                                <ul style="display: none;">
                                                    <li><a href="javascript:;" data-value="UTF8" class="ftx-01">UTF8</a></li>
                                                    <li><a href="javascript:;" data-value="GB2312" class="ftx-01">GB2312</a></li>
                                                    <li><a href="javascript:;" data-value="GBK" class="ftx-01">GBK</a></li>
                                                </ul>
                                                <input name="charset" type="hidden" value="UTF8" id="charset_select_val">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item mt30">
                                        <div class="label">&nbsp;</div>
                                        <div class="value">
                                            <input name="cat_id" type="hidden" value="">
                                            <input name="brand_id" type="hidden" value="">
                                            <input name="keyword" type="hidden" value="">
                                            <input name="goods_ids" type="hidden" value="">
                                            <input type="hidden" name="act" value="act_export_ecshop">
                                            <input name="submit" type="button" id="submit" value=" {:lang('确定')} " onclick="formValidate0()" class="btn btn35 red_btn">
                                        </div>
                                    </div>
                                </form>
                            </div></div>

                            <div class="data_format_content" id="taobao_form" style="display:none">
                                <form action="goods_export.php" method="post" name="theForm1" onsubmit="return formValidate1()">
                                    <div class="item">
                                        <div class="label">{:lang('宝贝栏目')}ID：</div>
                                        <div class="value"><input type="text" name="goods_class" class="text" value="0" autocomplete="off"><div class="notic">{:lang('宝贝栏目')}ID{:lang('为淘宝分类的')}ID，{:lang('如若不确定')}，{:lang('请填写')}0</div></div>
                                    </div>
                                    <div class="item">
                                        <div class="label">{:lang('平邮价格')}：</div>
                                        <div class="value"><input type="text" name="post_express" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item">
                                        <div class="label">{:lang('快递价格')}：</div>
                                        <div class="value"><input type="text" name="express" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item">
                                        <div class="label">EMS{:lang('价格')}：</div>
                                        <div class="value"><input type="text" name="ems" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item mt30">
                                        <div class="label">&nbsp;</div>
                                        <div class="value">
                                            <input name="cat_id" type="hidden" value="">
                                            <input name="brand_id" type="hidden" value="">
                                            <input name="keyword" type="hidden" value="">
                                            <input name="goods_ids" type="hidden" value="">
                                            <input type="hidden" name="act" value="act_export_taobao">
                                            <input name="submit" type="submit" id="submit" value=" {:lang('确定')} " class="btn btn35 red_btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="data_format_content" id="taobao V4.3_form" style="display:none">
                                <form action="goods_export.php" method="post" name="theForm3" onsubmit="return formValidate3()">
                                    <div class="item">
                                        <div class="label">{:lang('宝贝栏目')}ID：</div>
                                        <div class="value"><input type="text" name="goods_class" class="text" value="0" autocomplete="off"><div class="notic">{:lang('宝贝栏目')}ID{:lang('为淘宝分类的')}ID，{:lang('如若不确定')}，{:lang('请填写')}0</div></div>
                                    </div>
                                    <div class="item">
                                        <div class="label">{:lang('平邮价格')}：</div>
                                        <div class="value"><input type="text" name="post_express" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item">
                                        <div class="label">{:lang('快递价格')}：</div>
                                        <div class="value"><input type="text" name="express" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item">
                                        <div class="label">EMS{:lang('价格')}：</div>
                                        <div class="value"><input type="text" name="ems" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item mt30">
                                        <div class="label">&nbsp;</div>
                                        <div class="value">
                                            <input name="cat_id" type="hidden" value="">
                                            <input name="brand_id" type="hidden" value="">
                                            <input name="keyword" type="hidden" value="">
                                            <input name="goods_ids" type="hidden" value="">
                                            <input type="hidden" name="act" value="act_export_taobao V4.3">
                                            <input name="submit" type="submit" id="submit" value=" {:lang('确定')} " class="btn btn35 red_btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="data_format_content" id="taobao V4.6_form" style="display:none">
                                <form action="goods_export.php" method="post" name="theForm6" onsubmit="return formValidate6()">
                                    <div class="item">
                                        <div class="label">{:lang('宝贝栏目')}ID：</div>
                                        <div class="value"><input type="text" name="goods_class" class="text" value="0" autocomplete="off"><div class="notic">{:lang('宝贝栏目')}ID{:lang('为淘宝分类的')}ID，{:lang('如若不确定')}，{:lang('请填写')}0</div></div>
                                    </div>
                                    <div class="item">
                                        <div class="label">{:lang('平邮价格')}：</div>
                                        <div class="value"><input type="text" name="post_express" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item">
                                        <div class="label">{:lang('快递价格')}：</div>
                                        <div class="value"><input type="text" name="express" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item">
                                        <div class="label">EMS{:lang('价格')}：</div>
                                        <div class="value"><input type="text" name="ems" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item mt30">
                                        <div class="label">&nbsp;</div>
                                        <div class="value">
                                            <input name="cat_id" type="hidden" value="">
                                            <input name="brand_id" type="hidden" value="">
                                            <input name="keyword" type="hidden" value="">
                                            <input name="goods_ids" type="hidden" value="">
                                            <input type="hidden" name="act" value="act_export_taobao V4.6">
                                            <input name="submit" type="submit" id="submit" value=" {:lang('确定')} " class="btn btn35 red_btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="data_format_content" id="paipai_form" style="display:none">
                                <form action="goods_export.php" method="post" name="theForm2" onsubmit="return formValidate2()">
                                    <div class="item">
                                        <div class="label">{:lang('平邮价格')}：</div>
                                        <div class="value"><input type="text" name="post_express" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item">
                                        <div class="label">{:lang('快递价格')}：</div>
                                        <div class="value"><input type="text" name="express" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item mt30">
                                        <div class="label">&nbsp;</div>
                                        <div class="value">
                                            <input name="cat_id" type="hidden" value="">
                                            <input name="brand_id" type="hidden" value="">
                                            <input name="keyword" type="hidden" value="">
                                            <input name="goods_ids" type="hidden" value="">
                                            <input type="hidden" name="act" value="act_export_paipai">
                                            <input name="submit" type="submit" id="submit" value=" {:lang('确定')} " class="btn btn35 red_btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="data_format_content" id="paipai4_form" style="display:none">
                                <form action="goods_export.php" method="post" name="theForm5" onsubmit="return formValidate5()">
                                    <div class="item">
                                        <div class="label">{:lang('平邮价格')}：</div>
                                        <div class="value"><input type="text" name="post_express" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item">
                                        <div class="label">{:lang('快递价格')}：</div>
                                        <div class="value"><input type="text" name="express" class="text" value="0" autocomplete="off"></div>
                                    </div>
                                    <div class="item mt30">
                                        <div class="label">&nbsp;</div>
                                        <div class="value">
                                            <input name="cat_id" type="hidden" value="">
                                            <input name="brand_id" type="hidden" value="">
                                            <input name="keyword" type="hidden" value="">
                                            <input name="goods_ids" type="hidden" value="">
                                            <input type="hidden" name="act" value="act_export_paipai4">
                                            <input name="submit" type="submit" id="submit" value=" {:lang('确定')} " class="btn btn35 red_btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="data_format_content" id="custom_form" style="display:none">
                                <form action="goods_export.php" method="post" name="theForm4" onsubmit="return formValidate4()">
                                    <div class="item">
                                        <div class="label">{:lang('请选择要导出的编码')}：</div>
                                        <div class="value">
                                            <div id="custom_charset_select" class="imitate_select select_w320">
                                                <div class="cite">UTF8</div>
                                                <ul style="display: none;">
                                                    <li><a href="javascript:;" data-value="UTF8" class="ftx-01">UTF8</a></li>
                                                    <li><a href="javascript:;" data-value="GB2312" class="ftx-01">GB2312</a></li>
                                                    <li><a href="javascript:;" data-value="GBK" class="ftx-01">GBK</a></li>
                                                </ul>
                                                <input name="charset" type="hidden" value="UTF8" id="custom_charset_select_val">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step" ectype="filter" data-filter="goods_type">
                                        <div class="step_content">
                                            <div class="goods_search_div">
                                                <div class="search_select">
                                                    <div class="imitate_select select_w170">
                                                        <div class="cite">{:lang('所有类型')}</div>
                                                        <ul style="display: none;">
                                                            <li><a href="javascript:;" data-value="0" class="ftx-01">{:lang('所有类型')}</a></li>
                                                            <li><a href="javascript:;" data-value="5" class="ftx-01">{:lang('服装')}</a></li>
                                                            <li><a href="javascript:;" data-value="6" class="ftx-01">{:lang('鞋子')}</a></li>
                                                        </ul>
                                                        <input name="goods_type" type="hidden" value="0" id="" data-filter="keyword">
                                                    </div>
                                                </div>
                                                <a href="javascript:void(0);" class="btn btn30" ectype="search"><i class="icon icon-search"></i>{:lang('搜索')}</a>
                                            </div>
                                            <div class="move_div">
                                                <div class="move_left">
                                                    <h4>{:lang('可选数据列')}</h4>
                                                    <div class="move_info">
                                                        <div class="move_list ps-container">
                                                            <ul>
                                                                <li data-value="goods_name" data-text="{:lang('商品名称')}"><i class="sc_icon sc_icon_ok"></i><a href="javascript:void(0);">{:lang('商品名称')}</a></li>

                                                            </ul>
                                                            <div class="ps-scrollbar-x-rail" style="width: 0px; display: none; left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 250px; display: none; right: 0px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div></div>
                                                    </div>
                                                    <div class="move_handle">
                                                        <a href="javascript:void(0);" class="btn btn25 moveAll" ectype="moveAll">{:lang('全选')}</a>
                                                        <a href="javascript:void(0);" class="btn btn25 red_btn" ectype="sub" data-operation="add_goods_fields">{:lang('确定')}</a>
                                                    </div>
                                                </div>
                                                <div class="move_middle">
                                                    <div class="move_point" data-operation="add_goods_fields"></div>
                                                </div>
                                                <div class="move_right">
                                                    <h4>{:lang('输出数据列')}</h4>
                                                    <div class="move_info">
                                                        <div class="move_list ps-container" id="goods_type">
                                                            <ul>
                                                            </ul>														<div class="ps-scrollbar-x-rail" style="width: 0px; display: none; left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 250px; display: none; right: 0px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div></div>
                                                    </div>
                                                    <div class="move_handle">
                                                        <a href="javascript:void(0);" class="btn btn25 moveAll" ectype="moveAll">{:lang('全选')}</a>
                                                        <a href="javascript:void(0);" class="btn btn25 btn_red" ectype="sub" data-operation="drop_goods_fields">{:lang('移除')}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item mt30">
                                        <div class="label">&nbsp;</div>
                                        <div class="value">
                                            <input name="cat_id" type="hidden" value="">
                                            <input name="brand_id" type="hidden" value="">
                                            <input name="keyword" type="hidden" value="">
                                            <input name="goods_ids" type="hidden" value="">
                                            <input type="hidden" name="act" value="act_export_custom">
                                            <input type="hidden" name="custom_goods_export" value="">
                                            <input name="submit" type="submit" id="submit" value=" {:lang('确定')} " class="btn btn35 red_btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="list-div" id="listDiv">
                                <table cellspacing="0" cellpadding="0" id="listTable">
                                    <tbody><tr>
                                        <th>{:lang('页数')}</th>
                                        <th>{:lang('总数')}</th>
                                        <th>{:lang('时间')}</th>
                                    </tr>
                                    </tbody></table>
                            </div>
                            <div style="display:none;border: 1px solid rgb(204, 0, 0);margin-top:10px; padding: 4px; background-color: rgb(255, 255, 206); color: rgb(206, 0, 0);" id="errorMsg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}